/************** Setear los valores por default **************/

* {
     background-color: papayawhip;
     box-sizing: border-box;
     margin: 0;
     padding: 0;
 }
 html {
     font-size: 62.5%;
     font-family:'DM Sans', sans-serif;
 }
 
 /************** Setear los valores por default **************/



.picPortada{
     display: grid;
     justify-content: center;
}

.contenedorLogin{
     width: auto;
     height: 22rem;
     display: flex;
     justify-content: end;
}

.navbar {
     font-size: 2rem;
}
